.rectangle1{
    background-color: cornsilk;
    margin:0;
    padding:0;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width:45%;
    height:535px;
    display:inline-block;
    font-size:x-large;
    font-family: fantasy;
    color:rgb(0, 1, 2);
    
}

.rectangle2{
    background-color: cornsilk;
    margin:0;
    padding:0;
    overflow: hidden;
    opacity: 0.4;
    filter: alpha(opacity=50);
    width:17.5%;
    height:200px;
    display:inline-block;
    font-size:x-large;
    font-family: fantasy;
    color:rgb(0, 1, 2);
    animation: fade-inout 6s infinite alternate;
}
@keyframes fade-inout{
    0%{
        opacity:0;
    }
    100%{
        opacity:0.4;
    }
}

.rectangle3{
    background-color: cornsilk;
    margin:0;
    padding:0;
    overflow: hidden;
    opacity: 0.8;
    filter: alpha(opacity=50);
    width:37%;
    height:535px;
    display:grid;
    place-items:center right;
    display:inline-block;
    float: inline-end;
    font-family: fantasy;
    color:darkslategrey;

}
.image{
    width:470px;
    height:60%;
    background-image: url("hp_images/1.jpg");
    background-size: 100% 100%;
    animation: changeImage 12s linear infinite;
    position:relative;
}
@keyframes changeImage{
    0% {
        background-image: url("hp_images/1.jpg");
    }
    15% {
        background-image: url("hp_images/2.jpg");
    }
    30% {
        background-image: url("hp_images/3.jpg");
    }
    45% {
        background-image: url("hp_images/4.jpg");
    }
    60% {
        background-image: url("hp_images/5.jpg");
    }
    75% {
        background-image: url("hp_images/6.jpg");
    }
    90% {
        background-image: url("hp_images/7.jpg");
    }
    100% {
        background-image: url("hp_images/1.jpg");
    }
}
.button1{
    text-align:center;
    background-color:cornsilk;
    height: 10vh;
}
.button1:hover {
    background-color:rgb(132, 59, 59);
    color: white;
  }

.button2{
    text-align:center;
    background-color:cornsilk;
    height: 10vh;   
}
.button2:hover {
    background-color:rgb(132, 59, 59);
    color: white;
  }
